<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name = "viewport" content="with-device-width, initial-scale-1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Bienvenido a SOMA</h1>
    <p style="text-align: center;">Esta es la página principal. Próximamente más contenido...</p>

    <button id="miBoton"> Haz click aqui! </button>
    <p id="mensaje"></p>
    <script src = "/js/main.js"></script>
</body>
</html>