<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Crear Catalogos</h1>
    <p style="text-align: center;">Aqui deberia subir un archivo excel para crear los portafolios</p>
    <h2>Procesar Archivo Excel</h2>
    <form id="form-subida" action = "/carga_academica/subir_excel" method="POST" enctype="multipart/form-data">
        <input type="file" name="archivoExcel" accept=".xlsx, .xls, .xlsm" required />
        <button type="submit">Subir Archivo</button>
    </form>

    <hr>

    <h3>Previsualización de Usuarios</h3>
    <table id="tabla-usuarios" border="1">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Grado</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <!-- Confirmación -->
    <button id="btn-confirmar" disabled>Guardar en Base de Datos</button>
    <script src="/js/main.js"></script>
</body>
</html>